<% unless @membership.signed_by_the_member? %>
<div class="alert alert-warning" role="alert">
  <%=  t('memberships.member_signature_missing') %>
</div>
<% end %>

<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('memberships.title', id: @membership.id) %></h1>
  <%= link_to(t('actions.edit'), edit_admin_room_member_membership_path(id: @membership.id, member_id: @membership.member_id), class: 'btn btn-primary') if can? :update, @membership %>
  <%= link_to(t('actions.delete'), admin_room_member_membership_path(id: @member.id, member_id: @membership.member_id), method: :delete, data: { confirm: t('actions.sure?') }, class: 'ml-1 btn btn-danger') if can? :destroy, @membership %>
  <%= link_to t('actions.back_html'), admin_room_member_path(@membership.member), class: 'ml-1 btn btn-light' %>
</div>

<dl class="row">
  <dt class="col-sm-3"><%= t('activerecord.attributes.membership.membershiped_at') %></dt>
  <dd class="col-sm-9"><%= humanize_dt @membership.membershiped_at %></dd>

  <dt class="col-sm-3"><%= t('activerecord.attributes.membership.member_id') %></dt>
  <dd class="col-sm-9"><%= @membership.member.full_name %></dd>
  <dt class="col-sm-3"><%= t('activerecord.attributes.membership.membership_form_id') %></dt>
  <dd class="col-sm-9"><%= @membership.membership_form.title %></dd>
  <dt class="col-sm-3"><%= t('memberships.member_signature') %></dt>
  <dd class="col-sm-9"><%= humanize_dt @membership.member_accepted_at %></dd>
</dl>
