<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('subscriptions.list') %></h1>
  <%= link_to(t('subscriptions.new'), new_subscription_path, class: 'btn btn-primary') if can? :create, Subscription %>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.subscription.contract_id') %></th>
      <th><%= t('activerecord.attributes.contract.producer_id') %></th>
      <th><%= t('activerecord.attributes.subscription.member_id') %></th>
      <th><%= t('activerecord.attributes.subscription.subscribed_at') %></th>
      <th><%= t('subscriptions.member_signature') %></th>
      <th><%= t('subscriptions.producer_signature') %></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= link_to t('subscriptions.title', id: subscription.id), subscription %></td>
        <td><%= subscription.contract.title %></td>
        <td><%= subscription.contract.producer.name %></td>
        <td><%= subscription.member.full_name %></td>
        <td><%= humanize_dt subscription.subscribed_at %></td>
        <td class="text-center"><%= humanize_bool subscription.signed_by_the_member? %></td>
        <td class="text-center"><%= humanize_bool subscription.signed_by_the_producer? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @subscriptions %>
