<% unless @subscription.signed_by_the_member? %>
<div class="alert alert-warning" role="alert">
  <%=  t('subscriptions.member_signature_missing') %>
</div>
<% end %>

<% unless @subscription.signed_by_the_producer? %>
<div class="alert alert-warning" role="alert">
  <%=  t('subscriptions.producer_signature_missing') %>
</div>
<% end %>

<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('subscriptions.title', id: @subscription.id) %></h1>
  <%= link_to t('subscriptions.preview'), preview_subscription_path(@subscription), class: 'btn btn-primary' %>
  <%= link_to(t('actions.delete'), @subscription, method: :delete, data: { confirm: t('actions.sure?') }, class: 'ml-1 btn btn-danger') if can? :destroy, @subscription %>
  <%= link_to t('actions.back_to_the_list_html'), subscriptions_path, class: 'ml-1 btn btn-light' %>
</div>

<dl class="row">
  <dt class="col-sm-3"><%= t('activerecord.attributes.subscription.subscribed_at') %></dt>
  <dd class="col-sm-9"><%= humanize_dt @subscription.subscribed_at %></dd>
  <dt class="col-sm-3"><%= t('activerecord.attributes.subscription.member_id') %></dt>
  <dd class="col-sm-9"><%= @subscription.member.full_name %></dd>
  <dt class="col-sm-3"><%= t('activerecord.attributes.subscription.contract_id') %></dt>
  <dd class="col-sm-9"><%= @subscription.contract.title %></dd>
  <dt class="col-sm-3"><%= t('activerecord.attributes.contract.producer_id') %></dt>
  <dd class="col-sm-9"><%= @subscription.contract.producer.name %></dd>
  <dt class="col-sm-3"><%= t('subscriptions.member_signature') %></dt>
  <dd class="col-sm-9"><%= humanize_dt @subscription.member_accepted_at %></dd>
  <dt class="col-sm-3"><%= t('subscriptions.producer_signature') %></dt>
  <dd class="col-sm-9"><%= humanize_dt @subscription.producer_accepted_at %></dd>
</dl>
