<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= @membership_form.title %></h1>
  <%= link_to(t('actions.edit'), edit_admin_membership_form_path(@membership_form), class: 'btn btn-primary') if can? :update, @membership_form %>
  <%= link_to(t('actions.delete'), admin_membership_form_path(@membership_form), method: :delete, data: { confirm: t('actions.sure?') }, class: 'ml-1 btn btn-danger') if can? :destroy, @membership_form %>
  <%= link_to t('actions.back_to_the_list_html'), admin_membership_forms_path, class: 'ml-1 btn btn-light' %>
</div>

<div class="card">
  <div class="card-body">
    <%= @membership_form.real_content %>
  </div>
</div>
