<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-visit-control" content="reload">
    <title><%= (content_for?(:title) ? content_for(:title) + ' / ' : '') + t('project.name') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin/subscriptions_preview', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header>
      <h1><%= @subscription.contract.title %></h1>
      <nav class="navbar navbar-expand-md fixed-bottom navbar-light bg-light">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="<%= t('actions.toggle_menu') %>">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbars">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to t('actions.back_html'), admin_subscription_path(@subscription), class: 'btn btn-light' %>
              <a href="javascript:window.print()" class="btn btn-info"><%= t('actions.print') %></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <%= @subscription.contract.real_content(@subscription.member) %>
        <div class="row" data-controller="signature" data-update-url="<%= admin_subscription_path(@subscription, format: :json) %>">
          <div class="col-sm">
            <div id="producer" class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= t('subscriptions.producer_signature') %></h5>
                <canvas class="border border-dark" data-signature="<%= @subscription.producer_signature_data_uri %>"></canvas>
              </div>
              <div class="card-footer">
                <button data-action="signature#editProducerSignature" class="btn btn-primary sign"><%= t('actions.sign') %></button>
                <button data-action="signature#saveProducerSignature" class="btn btn-primary save"><%= t('actions.save') %></button>
                <button data-action="signature#cancelProducerSignature" class="btn btn-secondary cancel"><%= t('actions.cancel') %></button>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div id="member" class="card text-center">
              <div class="card-body">
                <h5 class="card-title"><%= t('subscriptions.member_signature') %></h5>
                <canvas class="border border-dark" data-signature="<%= @subscription.member_signature_data_uri %>"></canvas>
              </div>
              <div class="card-footer">
                <button data-action="signature#editMemberSignature" class="btn btn-primary sign"><%= t('actions.sign') %></button>
                <button data-action="signature#saveMemberSignature" class="btn btn-primary save"><%= t('actions.save') %></button>
                <button data-action="signature#cancelMemberSignature" class="btn btn-secondary cancel"><%= t('actions.cancel') %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
