<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('members.list') %></h1>
  <%= link_to(t('members.new'), new_member_path, class: 'btn btn-primary') if can? :create, Member %>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.member.date_of_birth') %></th>
      <th><%= t('activerecord.attributes.member.email_address') %></th>
      <th><%= t('activerecord.attributes.member.postal_code') %></th>
      <th><%= t('activerecord.attributes.member.city') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, member %></td>
        <td><%= humanize_dt member.date_of_birth %></td>
        <td><%= member.email_address %></td>
        <td><%= member.postal_code %></td>
        <td><%= member.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>
