<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= @member.full_name %></h1>
  <%= link_to(t('actions.edit'), edit_member_path(@member), class: 'btn btn-primary') if can? :update, @member %>
  <%= link_to(t('actions.delete'), @member, method: :delete, data: { confirm: t('actions.sure?') }, class: 'ml-1 btn btn-danger') if can? :destroy, @member %>
  <%= link_to t('actions.back_to_the_list_html'), members_path, class: 'ml-1 btn btn-light' %>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true"><%= t('members.profile') %></a>
    <a class="nav-item nav-link" id="nav-memberships-tab" data-toggle="tab" href="#nav-memberships" role="tab" aria-controls="nav-memberships" aria-selected="true"><%= t('members.memberships') %></a>
  </div>
</nav>

<div class="tab-content mt-3" id="nav-tabContent">
  <div class="tab-pane show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <dl class="row">
      <dt class="col-sm-3"><%= t('activerecord.attributes.member.date_of_birth') %></dt>
      <dd class="col-sm-9"><%= humanize_dt @member.date_of_birth %></dd>
      <dt class="col-sm-3"><%= t('activerecord.attributes.member.email_address') %></dt>
      <dd class="col-sm-9"><%= @member.email_address %></dd>
      <dt class="col-sm-3"><%= t('activerecord.attributes.member.address') %></dt>
      <dd class="col-sm-9"><%= @member.address %></dd>
      <dt class="col-sm-3"><%= t('activerecord.attributes.member.postal_code') %></dt>
      <dd class="col-sm-9"><%= @member.postal_code %></dd>
      <dt class="col-sm-3"><%= t('activerecord.attributes.member.city') %></dt>
      <dd class="col-sm-9"><%= @member.city %></dd>
    </dl>
  </div>
  <div class="tab-pane show" id="nav-memberships" role="tabpanel" aria-labelledby="nav-memberships-tab">
    <%= link_to(t('memberships.new'), new_member_membership_path(member_id: @member.id), class: 'mb-2 btn btn-primary') if can? :create, Membership %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.membership.membership_form_id') %></th>
          <th><%= t('activerecord.attributes.membership.membershiped_at') %></th>
          <th class="text-center"><%= t('memberships.member_signature') %></th>
        </tr>
      </thead>
      <tbody>
        <% @member.memberships.each do |membership| %>
          <tr>
            <td><%= link_to membership.membership_form.title, member_membership_path(id: membership.id, member_id: membership.member_id) %></td>
            <td><%= humanize_dt membership.membershiped_at %></td>
            <td class="text-center"><%= humanize_bool membership.signed_by_the_member? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
